@font-face {
    font-family: 'Coustard';
    src: url("/fonts/Coustard-Black.ttf");
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url("/fonts/DarkerGrotesque-SemiBold.ttf");
}

body {
    width: 320px;
    height: 360px;
}

#logo {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 42px;
    top: 5px;
}

#header {
    position: absolute;
    width: 100%;
    height: 120px;
    left: 0px;
    top: -6px;
    background: #88304E;
    border-radius: 0px 0px 40px 40px;
}

#title {
    position: absolute;
    width: 200px;
    height: 70px;
    left: 95px;
    top: 20px;
    font-family: Coustard;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    text-align: right;
    color: #FDD44F;
}

#volumeBoosterTitle {
    position: absolute;
    width: 142px;
    height: 33px;
    left: 27px;
    top: 120px;
    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 33px;
    /* identical to box height */
    color: #88304E;
}


/* #title {
    width: 100%;
}

#title>h3 {
    display: inline;
}

#title>span {
    display: inline;
    float: right;
    font-size: small;
} */

#volumeSlider {
    position: absolute;
    width: 180px;
    height: 1px;
    left: 87px;
    top: 166px;
}

#volumeBoosterContainer {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    position: absolute;
    left: 27px;
    top: 160px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #88304E;
}

input:focus+.slider {
    box-shadow: 0 0 1px #88304E;
}

input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

#lowVolume {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 66px;
    top: 160px;
}

#highVolume {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 276px;
    top: 160px;
}